<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>essile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Essile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>de</string>
	</array>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.431682292863-qljjdfpu6880833pa9i6hgabjqfh21gh</string>
                <string>fb525505993089477</string>
            </array>
        </dict>

    </array>

    <key>FacebookAppID</key>
    <string>525505993089477</string>
    <key>FacebookDisplayName</key>
    <string>ESSILE</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSLocationWhenInUseUsageDescription</key>
    <string>In order to search nearby, this app requires access to your current location.</string>
	<key>NSCameraUsageDescription</key>
    <string>In order to take a picture or video, this app requires permission to access the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>In order to record audio for video, this app requires permission to access the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>In order to upload data, this app requires permission to access the photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>Autorize</string>
	<key>NSCalendarsUsageDescription</key>
    <string>Allow </string>
	<key>PermissionGroupNotification</key>
    <string>Enable this app to send notifications on your phone</string>
	<key>NSFaceIDUsageDescription</key>
    <string>Use your  biometrics for authentication</string>

    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fbapi20130214</string>
      <string>fbapi20130410</string>
      <string>fbapi20130702</string>
      <string>fbapi20131010</string>
      <string>fbapi20131219</string>
      <string>fbapi20140410</string>
      <string>fbapi20140116</string>
      <string>fbapi20150313</string>
      <string>fbapi20150629</string>
      <string>fbapi20160328</string>
      <string>fbauth</string>
      <string>fb-messenger-share-api</string>
      <string>fbauth2</string>
      <string>fbshareextension</string>
      <string>comgooglemaps</string>
      <string>baidumap</string>
      <string>iosamap</string>
      <string>waze</string>
      <string>yandexmaps</string>
      <string>yandexnavi</string>
      <string>citymapper</string>
      <string>mapswithme</string>
      <string>osmandmaps</string>
      <string>dgis</string>
      <string>qqmap</string>
      <string>here-location</string>

    </array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
